%li{:id => "tweet-#{tweet.id}"}
  = link_to tweet.user do
    = image_tag tweet.user.avatar, size: 50
    %span.name
      = tweet.user.name
  = link_to tweet.user do
    %span.username
      @#{tweet.user.username}
  %span.content
    = tweet.content
    = image_tag tweet.photo.url if tweet.photo?
  %span.timestamp
    #{time_ago_in_words(tweet.created_at)} ago.
    - if tweet.user == current_user
      = link_to "delete", tweet, method: :delete, data: { confirm: "You sure?" }
  %span{:id => "like-tweet-#{tweet.id}"}
    = render 'likes/like_button', tweet: tweet
  %span{:id => "likes-count-#{tweet.id}"}
    = tweet.likes_count
