= form_for(@tweet, html: { multipart: true }) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, class: "form-control", placeholder: "What's happening?", required: true
  .field
    = f.file_field :photo
  = f.submit "Tweet", class: "btn btn-large btn-primary"
