.row
  .col-md-3
    = render 'shared/user_info', user: current_user
    = render 'shared/stats'
  .col-md-6
    .well
      .row
        .col-md-10.col-md-offset-1
          = render 'shared/tweet_form'
      .ol.tweets
        = render(@timeline) || "Your timeline is currently empty."
      = paginate @timeline
